.window {
	width: 600px;
	height: 8.5rem;
	background-color: rgb(192, 187, 187);
	border-color: black;
	border-width: 10px;
	display: flex;
	gap: 1px;
	align-items: end;
}

.rectangle {
	width: 60px;
	background-color: rgb(245, 245, 246);
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.container {
	display: flex;
	gap: 2px;
}
